<div>
    <center>
        <section>
            <header style="margin-top: 90px;margin-bottom: 330px;">
                <h1>
                    <p style="font-size: 2.5em">
                        AspNet Versão 5 MVC Vazio.
                    </p>
                </h1>
            </header>

            <article>
                <h2>
                    <p>
                        Eu Sou Uma Index, Sendo Chamada Pela Homecontroller, Estou Dentro de Uma Pasta Chamada Home, Que Esta na Views.
                    </p>
                </h2>
            </article>

            <footer style="margin-top: 550px;">
                <p>
                    Copyright © Danilo O. Pinheiro
                </p>
            </footer>
        </section>
    </center>
</div>
